/*reset some default styles*/
h1{
    color: #032B44;
}
h4{
    color: white;
    padding: 0px 50px 10px;
}
body{
    background-color:#bed0db;
    font-family:Arial, sans-serif;
    color:#333;
    line-height:1.6;
}
header{
    background-color:#032B44; 
    color:#FF0000;
    padding:0px 50px 0px;
    text-align:left;
}
a + a {
    margin-left: 40px;
}
footer{
    background-color:#000000;
    color:white;
    text-align:center;
    padding: 0px 50px 0px;
    bottom:0;
    width:94.7%;
}
h5{
    color: #032B44;
    text-align:right;
    padding:20px 50px;
}
.topnav {
    overflow: hidden;
  }

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    padding: 10px;
    border-style: ridge;
    border-radius: 20px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  input[type=text],[type=email],[type=number],[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button{
    width: 50%;
    background-color: #032B44;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-align: center;
  }

  .search{
    position: relative;
    left: 800px;
    width: 50%;
    height: 20px;
    background-color: #032B44;
    color: white; 
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
  }

  div {
    border-radius: 10px;
    background-color: #345b72;
    padding: 1px;
    width: 92%;
    text-align:center;
  }

  form {
    text-align:center;
    padding: 1px;
  }
  
  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 960px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
@media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
}

/* Style the submit button */
form.example button {
  float: left;
  width: 5%;
  padding: 10px;
  background: #032B44;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
form.example button:hover {
  background: rgb(29, 54, 61);
}
